<% if @dates.any? %>
  <% @dates.each do |date| %>
    <%= link_to date.date, dates_path(date)%>
    <% end %>
<% end %>






<%= form_for :date, url: dates_path do |f| %>
  <p>
    <%= f.label :date %><br>
    <%= f.text_field :date %>
  </p>

  <p>
    <%= f.submit 'Submit'  %>
  </p>
<% end %>
